#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.rows-wrapper
{
  margin: auto;

  position: relative;

  margin-top: 2em;

  /* 2 positions are used for spaces */
  width: calc(var(--widthCount) * (60px + 1em) - 1em);
  height: calc((var(--count) + 2) * (60px + 1em) - 1em);
}

.row
{
  position: absolute;
  top: calc(var(--index) * (60px + 1em));

  transition: top 0.5s;

  display: flex;
  justify-content: center;

  gap: 1em;
}

.num-disp
{
  flex-shrink: 0;

  font-size: 2.25rem;
  
  width: 60px;
  aspect-ratio: 1;

  background-color: var(--blue);
  border-radius: var(--radius);
}

.num-disp--typing
{
  border: #94DEFF 1px solid;
  box-shadow: 0 0 2px 0 white;
}

.num-disp--correct
{
  background-color: var(--green);
}

.num-disp--incorrect
{
  background-color: var(--red);
}

.num-disp--close
{
  background-color: var(--yellow);
}

.num-disp p
{
  margin: 0;
}

h1
{
  color: transparent;
  background-image: linear-gradient(90deg, var(--blue), var(--green), var(--yellow), var(--red));
  background-clip: text;
  width: fit-content;

  font-weight: 300;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

h1 + p
{
  opacity: 0.5;
  margin: 0;
}

.loose-screen-wrapper
{
  position: absolute;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  overflow: hidden;

  z-index: -1;
}

.loose-screen > p
{
  margin: 0;
}

.loose-screen__description
{
  opacity: .5;
}

.loose-screen
{
  z-index: 999;
  
  width: calc(100% - 2 * 1.5em);
  max-width: 400px;
  text-align: left;

  position: absolute;
  top: 50%;
  left: 150%;

  transform: translate(-50%, -50%);

  /* background-color: #111111; */
  padding: 0 1.5em 1.5em 1.5em;
  border-radius: var(--radius);

  transition: left 0.5s;
}

.loose-screen__header
{
  text-align: center;
  font-size: 1.75rem;
  margin: 0;
  margin-bottom: 1em;

  font-weight: 300;
}

.loose-screen__header > .loose-screen__header__big
{
  font-weight: 400;

  color: transparent;
  background-image: linear-gradient(90deg, var(--blue), var(--green), var(--yellow), var(--red));
  background-clip: text;
  width: fit-content;
  margin: auto;

  font-size: 3.25rem;
  margin-top: -.9em;
}

.game
{
  transition: margin-left 0.5s;
}

.game--over
{
  margin-left: calc(-100vw - 452px);
}

.game--over .loose-screen-wrapper
{
  z-index: 999;
}

.game--over .loose-screen
{
  left: 50%;
}

.play-again-button
{
  display: block;
  margin: auto;
  margin-top: 1em;
}

.type-text
{
  animation: float-anim 2s infinite;
}

@keyframes float-anim
{
  0%
  {
    transform: translateY(0);
  }

  50%
  {
    transform: translateY(0.25em);
  }

  100%
  {
    transform: translateY(0);
  }
}

.hidden-input
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
}