#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.rows-wrapper
{
  margin: auto;

  position: relative;

  /* 2 positions are used for spaces */
  width: calc(4 * (60px + 1em) - 1em);
  height: calc((var(--count) + 2) * (60px + 1em) - 1em);
}

.row
{
  position: absolute;
  top: calc(var(--index) * (60px + 1em));

  transition: top 0.5s;

  display: flex;
  justify-content: center;

  gap: 1em;
}

.num-disp
{
  flex-shrink: 0;

  font-size: 2.25rem;
  
  width: 60px;
  aspect-ratio: 1;

  background-color: var(--blue);
  border-radius: var(--radius);
}

.num-disp--typing
{
  border: #94DEFF 1px solid;
  box-shadow: 0 0 2px 0 white;
}

.num-disp--correct
{
  background-color: var(--green);
}

.num-disp--incorrect
{
  background-color: var(--red);
}

.num-disp--close
{
  background-color: var(--yellow);
}

.num-disp p
{
  margin: 0;
}

h1
{
  color: transparent;
  background-image: linear-gradient(90deg, var(--blue), var(--green), var(--yellow), var(--red));
  background-clip: text;
  width: fit-content;

  font-weight: 300;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

h1 + p
{
  opacity: 0.5;
  margin: 0;
}